{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}

{% block formactions %}
    <div class="sonata-ba-form-actions well well-small form-actions">
        {% block sonata_form_actions %}
            {% if app.request.isxmlhttprequest %}
                {# NEXT_MAJOR: remove default filter #}
                {% if objectId|default(admin.id(object)) is not null %}
                    <button type="submit" class="btn btn-success" name="btn_update"><i class="fa fa-save" aria-hidden="true"></i> {{ 'btn_update'|trans({}, 'SonataAdminBundle') }}</button>
                    {% if admin.hasRoute('delete') and admin.hasAccess('delete', object) and is_granted('delete', object)%}
                        {{ 'delete_or'|trans({}, 'SonataAdminBundle') }}
                        <a class="btn btn-danger" href="{{ admin.generateObjectUrl('delete', object) }}">
                            <i class="fa fa-minus-circle" aria-hidden="true"></i> {{ 'link_delete'|trans({}, 'SonataAdminBundle') }}
                        </a>
                    {% endif %}
                {% else %}
                    <button type="submit" class="btn btn-success" name="btn_create"><i class="fa fa-plus-circle" aria-hidden="true"></i> {{ 'btn_create'|trans({}, 'SonataAdminBundle') }}</button>
                {% endif %}
            {% else %}
                {% if admin.supportsPreviewMode %}
                    <button class="btn btn-info persist-preview" name="btn_preview" type="submit">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        {{ 'btn_preview'|trans({}, 'SonataAdminBundle') }}
                    </button>
                {% endif %}
                {# NEXT_MAJOR: remove default filter #}
                {% if objectId|default(admin.id(object)) is not null %}
                    <button type="submit" class="btn btn-success" name="btn_update_and_edit"><i class="fa fa-save" aria-hidden="true"></i> {{ 'btn_update_and_edit_again'|trans({}, 'SonataAdminBundle') }}</button>

                    {% if admin.hasRoute('list') and admin.hasAccess('list') %}
                        <button type="submit" class="btn btn-success" name="btn_update_and_list"><i class="fa fa-save"></i> <i class="fa fa-list" aria-hidden="true"></i> {{ 'btn_update_and_return_to_list'|trans({}, 'SonataAdminBundle') }}</button>
                    {% endif %}

                    {% if admin.hasRoute('delete') and admin.hasAccess('delete', object) and is_granted('delete', object) %}
                        {{ 'delete_or'|trans({}, 'SonataAdminBundle') }}
                        <a class="btn btn-danger" href="{{ admin.generateObjectUrl('delete', object) }}"><i class="fa fa-minus-circle" aria-hidden="true"></i> {{ 'link_delete'|trans({}, 'SonataAdminBundle') }}</a>
                    {% endif %}

                    {% if admin.isAclEnabled() and admin.hasRoute('acl') and admin.hasAccess('acl', object) %}
                        <a class="btn btn-info" href="{{ admin.generateObjectUrl('acl', object) }}"><i class="fa fa-users" aria-hidden="true"></i> {{ 'link_edit_acl'|trans({}, 'SonataAdminBundle') }}</a>
                    {% endif %}
                {% else %}
                    {% if admin.hasroute('edit') and admin.hasAccess('edit') %}
                        <button class="btn btn-success" type="submit" name="btn_create_and_edit"><i class="fa fa-save" aria-hidden="true"></i> {{ 'btn_create_and_edit_again'|trans({}, 'SonataAdminBundle') }}</button>
                    {% endif %}
                    {% if admin.hasroute('list') and admin.hasAccess('list') %}
                        <button type="submit" class="btn btn-success" name="btn_create_and_list"><i class="fa fa-save"></i> <i class="fa fa-list" aria-hidden="true"></i> {{ 'btn_create_and_return_to_list'|trans({}, 'SonataAdminBundle') }}</button>
                    {% endif %}
                    <button class="btn btn-success" type="submit" name="btn_create_and_create"><i class="fa fa-plus-circle" aria-hidden="true"></i> {{ 'btn_create_and_create_a_new_one'|trans({}, 'SonataAdminBundle') }}</button>
                {% endif %}
            {% endif %}
        {% endblock %}
    </div>
{% endblock formactions %}