{% extends '@SonataAdmin/standard_layout.html.twig' %}
{% trans_default_domain 'fedandco' %}
{% block sonata_admin_content %}

<div class="box box-primary" >
	<div class="box-body table-responsive no-padding">
		<table class="table table-bordered table-striped table-hover sonata-ba-list">
			<thead>
			<tr class="sonata-ba-list-field-header">
				<th>Profile picture</th>
				<th>Display name</th>
			</tr>
			</thead>
			<tbody>
			{% for account in mastodonAccounts %}
			<tr>
				<td>
					<img src="{{ account.avatar }}" width="100"/>
				</td>
				<td>
					{{ account.displayName }}
				</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}