{% extends '@SonataAdmin/CRUD/list_string.html.twig' %}

{% block field %}
    <div>
        {% if object.toUser ==  app.user %}
            {{ object.fromUser.getEmail() }}
        {% else %}
            {{ object.toUser.getEmail() }}
        {% endif %}
    </div>
{% endblock %}