{% extends '@SonataAdmin/CRUD/list_string.html.twig' %}

{% block field %}
    <div>
        {% if object.toUser ==  app.user %}
            <a href="{{ path('admin_app_user_show',{'id':object.fromUser.id}) }}"> {{ object.fromUser.getUsername() }}</a>
        {% else %}
             <a href="{{ path('admin_app_user_show',{'id':object.toUser.id}) }}"> {{ object.toUser.getUsername() }}</a>
        {% endif %}
    </div>
{% endblock %}