{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <div>
        <img style="vertical-align:middle" src="{{ object.avatar }}" width="100">
        <span style="margin-left: 30px;font-size: 1.2em;">{{ object.acct }}@{{ object.instance }}</span>
    </div>
{% endblock %}