{# @var notification \App\SocialEntity\Notification #}
{% for notification in notifications %}
    <div class="row panel panel-default">
        <div class="panel-body">
            <div class="col-md-1 col-xs-3">
                <a href="{{ notification.account.url }}" target="_blank"> <img src="{{ notification.account.avatar }}" width="70"></a>
            </div>
            <div class="col-md-11 col-xs-9">
                <div class="row">
                    <div class="col-md-8"><span style="font-size: 1.2em;font-weight: bold;">{{ convertAccountEmoji(notification.account, notification.account.displayName) | raw }} {{ notification.account.acct }}</span></div>
                    <div class="col-md-4"><span style="display: flex; justify-content: flex-end">{{ notification.createdAt | date('d/m/y H:m') }}</span></div>
                </div>
                {% if notification.status.content is defined %}
                <div class="row">
                    <div class="col-md-12">
                    {{ convertStatusEmoji(notification.status, notification.status.content) | raw }}
                    </div>
                </div>
                {% endif %}
                {% if notification.type == "mention" %}
                    {% if notification.status.visibility == "public" %}
                        <i class="fa fa-globe"></i>
                    {% elseif notification.status.visibility == "unlisted" %}
                        <i class="fa fa-unlock-alt"></i>
                    {% elseif notification.status.visibility == "private" %}
                        <i class="fa fa-lock"></i>
                    {% elseif notification.status.visibility == "direct" %}
                        <i class="fa fa-envelope"></i>
                    {% endif %}
                <button class="reply" style="margin-left: 20px;"><i class="fa fa-reply"></i></button>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}