{% extends '@SonataAdmin/CRUD/list_string.html.twig' %}

{% block field %}
    <div>
        {% if object.role == "USER" %}
            {{ 'project.role.user' |trans({},'fedandco') }}
        {% elseif object.role == "AUTHOR" %}
            {{ 'project.role.author' |trans({},'fedandco') }}
        {% elseif object.role == "ADMIN" %}
            {{ 'project.role.admin' |trans({},'fedandco') }}
        {% endif %}
    </div>
{% endblock %}