{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <ul>
        {% for item in object.fields %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
{% endblock %}