{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <div>
        <img src="{{ object.avatar }}" width="100" />
        {# or whatever to create src of image #}
    </div>
{% endblock %}